navbar-default {
    height: 80px;
    
 }
 .navbar-default {
     background-color: rgb(255 255 255);
     border-color: rgb(255 255 255);
 }
 
 .navbar-default .navbar-nav>li>a {
     color: #c5c2c2;
     padding-top: 25px;
     font-size: 25px;
 }